h1{
    color: blue;
}

img{
    max-width: 100%;
}

#navtop{
    background-color: #FFB6C1 !important;
}

#navinferior{
    background-color:white !important;

}

.carousel{
    margin-bottom: 40px;
}

footer{
    background-color:#FFB6C1 !important;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    
}

h1{
    font-family:Dancing Script;

}